<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Amazon Vending Machine</title>

    <!-- Polyfills for older browsers -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
</head>

<body>

<!-- Main Content -->
<div class="container-fluid">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h1>About Amazon Vending Machine at LHR16</h1>
        </div>
        <div id="panel-index-body" class="panel-body">
            <h4>Welcome to the Amazon Vending Machine portal for the LHR16 office!</h4>
            <p>Our innovative approach combines the convenience of traditional vending machines with the power of modern
                technology. Here's how it works:</p>
            <ol>
                <li><strong>Decide What You Need:</strong> Browse through a wide range of IT equipment.</li>
                <li><strong>Reserve Your Equipment:</strong> Reserve the items you need without waiting.</li>
                <li><strong>Collect from the Vending Machine:</strong> Pick up your reserved items from the LHR16 office
                    vending machine.
                </li>
            </ol>
            <p>This service is exclusively for our LHR16 colleagues. We aim to make your work life easier by ensuring
                you have the tools you need, when you need them.</p>
            <p>While the items from the vending machine may be free for employees, it's important to remember that they
                come at a cost to Amazon. We encourage all employees to be frugal and only take items when
                necessary.</p>
        </div>
    </div>
</div>

</body>
</html>