<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Details</title>

    <!-- Static Files -->
    {% load static %}

    <!-- Stylesheets -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/custom.css' %}" rel="stylesheet">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/custom.js' %}"></script>
</head>

<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Amazon Vending Machine</a>
        </div>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_staff %}
                    <li><a href="/admin">Admin Area</a></li>
                    <li><a href="/admin/dashboard">Dashboard</a></li>
                {% endif %}
            </ul>

            <!-- User Authentication Links -->
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'account' %}">Account</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'log' %}">Sign in</a></li>
                    <li><a href="{% url 'registration' %}">Sign up</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>


<!-- Error Message -->
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<!-- Main Content -->
<form action="{% url 'pay' item.id %}" method="post">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h1>Item Chosen: </h1>
            </div>

            <div id="panel-index-body" class="panel-body">
                <table class="table">
                    <caption>Item Details</caption>
                    <thead class="table-warning">
                    <tr>
                        <th>Type</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-bordered">{{ item }}</td>
                        <td id="paymentPriceId" class="table-bordered">{{ item.itemPrice }} £</td>
                    </tr>
                    <!-- More rows can be added here -->
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h5><b style="color: black;">Description: </b></h5>
                            </div>
                            <div class="panel-body"><p>{{ item.itemDescription }}</p></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        {% if item.itemImage != None %}
                            <img src="{{ MEDIA_URL }}{{ item.itemImage }}" alt="{{ item.itemDescription }}">
                        {% endif %}
                    </div>
                </div>

                <input type="button" class="btn-warning btn-lg" name="id" value="Pay" onclick="showModal()">
                <a class="nounderline" href="{% url 'index' %}">
                    <button type="button" class="btn-secondary btn-lg">
                        Cancel
                    </button>
                </a>

                <!-- Payment Notification Modal -->
                <modal>
                    <h2>Please be frugal. The item may be free to you, but it costs Amazon money. Would you like to
                        proceed?</h2>
                    <input type="submit" value="Yes, Proceed">
                    <button type="button" onclick="closeModal()">Close</button>
                </modal>
            </div>
        </div>
    </div>
</form>

</body>
</html>