<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Amazon LHR16 Vending Machine - Registration</title>

    <!-- Static Files -->
    {% load static %}

    <!-- Stylesheets -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/custom.css' %}" rel="stylesheet">


    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body id="loginBody">
<!-- Registration Failed Alert Script -->
<script>
    $(document).ready(function () {
        $("#loginFailed").fadeTo(2000, 500).slideUp(500, function () {
            $("#loginFailed").slideUp(500);
        });
    });
</script>
<!-- Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Amazon Vending Machine</a>
        </div>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_staff %}
                    <li><a href="/admin">Admin Area</a></li>
                    <li><a href="/admin/dashboard">Dashboard</a></li>
                {% endif %}
            </ul>

            <!-- User Authentication Links -->
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'account' %}">Account</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'log' %}">Sign in</a></li>
                    <li><a href="{% url 'registration' %}">Sign up</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Registration Form -->
<div class="login-div">
    <form action="{% url 'validateUser' %}" method="post">
        {% csrf_token %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h1 id="heading-title">Amazon LHR16 Vending Machine - Registration</h1>
            </div>
            <div id="panel-index-body" class="panel-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"
                           required>
                </div>
                <div class="form-group">
                    <label for="user">Email</label>
                    <input type="text" class="form-control" id="user" name="user" placeholder="User name" required
                           pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$"
                           title="Please enter a valid email address.">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                           required minlength="8" title="Password must be at least 8 characters long.">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                           placeholder="Confirm password" required>
                </div>
                <button type="submit" class="btn-warning btn-lg">Sign up</button>
                <a class="nounderline" href="{% url 'index' %}">
                    <button type="button" class="btn-secondary btn-lg">Cancel</button>
                </a>
            </div>
        </div>
    </form>
</div>

<!-- Registration Failed Alert -->
<div class="alert">
    {% if registrationFailed is True %}
        <div id="loginFailed" class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Registration Error</h4>
            <p>Existing user or confirm password mismatch. Password must contain more than 8 characters.</p>
        </div>
    {% endif %}
</div>
</body>

</html>